/* ROOT OF PAGES */ /* COLORS */
/* FONTS */
/* COMMON PAGES */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

:root {
  font-size: 1em;
}

#main-page {
  min-height: 100vh;
  max-width: 100vw;
  background-color: hsl(257deg, 40%, 49%);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.2fr;
  justify-items: center;
}

#header-page {
  grid-area: 1/1/2/2;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-page .figure-header {
  width: 85%;
  height: 90%;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}
#header-page .image-logo {
  grid-area: 1/1/2/2;
  width: 40%;
  height: auto;
}
#header-page .image-mockups {
  grid-area: 2/1/3/2;
  width: 100%;
  height: auto;
  justify-self: center;
}

#footer-page {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-page .button-social-media {
  background: none;
  border: none;
}
#footer-page .icons-social-media {
  font-size: 1.5em;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: 300ms linear;
}
#footer-page .icons-social-media:hover {
  color: hsl(300deg, 69%, 71%);
}

/* INDEX PAGE */
#section-page {
  grid-area: 2/1/3/2;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#section-page .title-page {
  font-family: "Poppins";
  font-weight: 600;
}
#section-page .text-information {
  font-size: 0.9em;
}
#section-page .button-register {
  font-family: "Poppins";
  font-weight: 400;
  width: 200px;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 50px;
  letter-spacing: 1px;
  color: hsl(257deg, 40%, 49%);
  cursor: pointer;
  border: none;
  transition: 300ms linear;
}
#section-page .button-register:hover {
  background-color: hsl(300deg, 69%, 71%);
  color: #fff;
}

/* REGISTER PAGE */
/* MEDIA QUERY */
@media (min-width: 375px) {
  #header-page {
    height: 500px;
  }
  #section-page .title-page {
    font-size: 1.7em;
  }
}
@media (min-width: 420px) {
  #header-page .figure-header {
    width: 370px;
  }
  #section-page .title-page {
    font-size: 2em;
  }
  #section-page .text-information {
    font-size: 1em;
  }
  #section-page .button-register {
    width: 240px;
    padding: 12px 0;
    font-size: 1.1em;
  }
}
@media (min-width: 550px) {
  #header-page {
    height: 600px;
  }
  #header-page .figure-header {
    width: 480px;
  }
  #header-page .image-logo {
    width: 180px;
  }
  #section-page {
    width: 80%;
  }
  #section-page .title-page {
    font-size: 2.4em;
  }
  #section-page .text-information {
    font-size: 1.2em;
  }
}
@media (min-width: 767px) {
  #main-page {
    background-size: cover;
  }
  #header-page {
    height: 750px;
  }
  #header-page .figure-header {
    width: 600px;
  }
  #section-page {
    width: 70%;
  }
  #section-page .button-register {
    width: 260px;
    padding: 14px 0;
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  #main-page {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    grid-template-rows: 1fr 0.1fr;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
  }
  #header-page {
    grid-area: 1/1/2/2;
    height: 100%;
  }
  #header-page .figure-header {
    width: 80%;
    align-content: space-between;
  }
  #header-page .image-logo {
    justify-self: flex-start;
  }
  #header-page .image-mockups {
    width: 100%;
    justify-self: end;
  }
  #section-page {
    grid-area: 1/2/2/3;
    max-height: 40%;
    width: 400px;
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    gap: 10px;
  }
  #section-page .title-page {
    font-size: 2em;
  }
  #section-page .text-information {
    font-size: 1em;
  }
  #section-page .button-register {
    width: 200px;
    padding: 10px 0;
    font-size: 1em;
  }
  #footer-page {
    grid-area: 2/2/3/3;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
  }
}
@media (min-width: 1350px) {
  #section-page {
    justify-self: center;
    width: 550px;
  }
  #section-page .title-page {
    font-size: 2.3em;
  }
}
@media (min-width: 1700px) {
  #header-page .figure-header {
    width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
