*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $secondary-font;
}

:root {
  font-size: 1em;
}

#main-page {
  min-height: 100vh;
  max-width: 100vw;
  background-color: $violet;
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  color: $white;

  display: grid;
  grid-template-rows: 1fr .5fr .2fr;
  justify-items: center;
}

#header-page {
  grid-area: 1 / 1 / 2 / 2;
  min-height: 400px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  & .figure-header {
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-rows: .5fr 1fr;
  }
  & .image-logo {
    grid-area: 1 / 1 / 2 / 2;
    width: 40%;
    height: auto;
  }
  & .image-mockups {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: auto;
    justify-self: center;
  }
}

#section-page {
  grid-area: 2 / 1 / 3 / 2;
  width: 90%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  & .title-page {
    font-family: $primary-font;
    font-weight: 600;
  }
  & .text-information {
    font-size: .9em;
  }
  & .button-register {
    font-family: $primary-font;
    font-weight: 400;
    width: 200px;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 50px;
    letter-spacing: 1px;
    color: $violet;
    cursor: pointer;
    border: none;
    transition: 300ms linear;
  }
  & .button-register:hover {
    background-color: $soft-magenta;
    color: $white;
  }
}

#footer-page {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .button-social-media {
    background: none;
    border: none;
  }
  & .icons-social-media {
    font-size: 1.5em;
    color: $white;
    margin: 0 5px;
    cursor: pointer;
    transition: 300ms linear;
  }
  & .icons-social-media:hover {
    color: $soft-magenta;
  }
  & .copyright {
    font-size: .6em;
    color: $white;
    margin: 5px 0;
  }
  & .copyright > a {
    color: $white;
  }
}