@media (min-width: 375px) {
  #header-page {
    height: 500px;
  }
  #section-page {
  
    & .title-page {
      font-size: 1.7em;
    }
  }
}

@media (min-width: 420px) {
  #header-page {

    & .figure-header {
      width: 370px;
    }
  }
  #section-page {
  
    & .title-page {
      font-size: 2em;
    }
    & .text-information {
      font-size: 1em;
    }
    & .button-register {
      width: 240px;
      padding: 12px 0;
      font-size: 1.1em;
    }
  }
}

@media (min-width: 550px) {
  #header-page {
    height: 600px;

    & .figure-header {
      width: 480px;
    }
    & .image-logo {
      width: 180px;
    }
  }
  #section-page {
    width: 80%;

    & .title-page {
      font-size: 2.5em;
    }
    & .text-information {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 767px) {
  #main-page {
    background-size: cover;
  }
  #header-page {
    height: 750px;
    
    & .figure-header {
      width: 600px;
    }
  }
  #section-page {
    width: 70%;
  
    & .button-register {
      width: 260px;
      padding: 14px 0;
      font-size: 1.2em;
    }
  }
}

@media (min-width: 1024px) {
  #main-page {
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;

    grid-template-rows: 1fr .1fr;
    grid-template-columns: 1fr .9fr;
    align-items: center;
  }
  #header-page {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;

    & .figure-header {
      width: 80%;
      align-content: space-between;
    }
    & .image-logo {
      justify-self: flex-start;
    }
    & .image-mockups {
      width: 100%;
      justify-self: end;
    }
  }
  #section-page {
    grid-area: 1 / 2 / 2 / 3;
    max-height: 40%;
    width: 400px;
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    gap: 20px;

    & .title-page {
      font-size: 2em;
    }
    & .text-information {
      font-size: 1em;
    }
    & .button-register {
      width: 200px;
      padding: 10px 0;
      font-size: 1em;
    }
  }
  #footer-page {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
  }
}

@media (min-width: 1350px) {
    #section-page {
    justify-self: center;
    width: 550px;

    & .title-page {
      font-size: 2.3em;
    }
  }
}
@media (min-width: 1700px) {
  #header-page {

    & .figure-header {
      width: 800px;
    }
  }
}