@media (min-width: 375px) {
  #section-page {
    width: 80%;
  
    & .title-page {
      font-size: 1.7em;
    }
  }
}


@media (min-width: 420px) {
  #header-page {
    height: 500px;

    & .figure-header {
      width: 400px;
    }
  }
}

@media (min-width: 550px) {
  #header-page {
    height: 600px;

    & .figure-header {
      width: 480px;
    }
    & .image-logo {
      width: 200px;
    }
  }
  #section-page {
    width: 70%;
  
    & .title-page {
      font-size: 2.2em;
    }
  }
}

@media (min-width: 767px) {
  #main-page {
    background-size: cover;
  }
  #header-page {
    height: 750px;
    
    & .figure-header {
      width: 600px;
    }
    & .image-logo {
      width: 250px;
    }
  }
}

@media (min-width: 1024px) {
  #main-page {
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;

    grid-template-rows: 1fr .1fr;
    grid-template-columns: 1fr .9fr;
    align-items: center;
  }
  #header-page {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;

    & .figure-header {
      width: 80%;
      align-content: space-between;
    }
    & .image-logo {
      justify-self: flex-start;
    }
    & .image-mockups {
      width: 100%;
      justify-self: end;
    }
  }
  #section-page {
    grid-area: 1 / 2 / 2 / 3;
    max-height: 40%;
    width: 400px;
    text-align: start;
    align-items: flex-start;
    justify-self: flex-start;
    gap: 20px;
  }
  #footer-page {
    grid-area: 2 / 1 / 3 / 3;
  }
}